.content{
    max-width: 600px;
    margin:auto;
    margin-top: 50px;
    text-align: justify;
}

body{
    background-image: url(img/bg.png);
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }