body{
    margin: auto;
    background-image: url(img/valentine.png);
}

.content{
    max-width: 600px;
    margin:auto;
    margin-top: 300px;
}

.valentine{
    color: #04AA6D;
    font-family: "Segoe UI",Arial,sans-serif;
    font-weight: 400;
    font-size: 46px;
    margin: 10px 0;

}

.btn{
    margin: auto;
    width: 60%;
}